{% load getparam %}

<header class="header py-2">
    <div class="container">
        <div class="d-flex justify-content-between"></div>
        <a class="navbar-brand" href="{% url 'strains:list' %}">Weeedle</a>
        {% if not disable_search %}
            <form class="form-inline my-2 my-lg-0" action="{% url 'strains:list' %}">
                <input class="form-control mr-sm-2"
                       type="search"
                       placeholder="Поиск"
                       aria-label="Search"
                       name="search"
                       value="{{ request.GET|getparam:'search' }}"
                >
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
            </form>
        {% endif %}
    </div>
</header>
