{% extends 'base.html' %}

{% block content %}
    <h1>{{ strain.name }}</h1>
    <p>{{ strain.get_type_display }}</p>
    <p>ТГК: {{ strain.thc }}%</p>
    <p>{{ strain.description }}</p>
    <h4>Информация о выращивании</h4>
    <ul>
        <li>Сложность выращивания: {{ strain.get_difficulty_display }}</li>
        <li>Высота растения: {{ strain.get_height_display }}</li>
        <li>Урожайность: {{ strain.get_crop_display }}</li>
        <li>Цветение: {{ strain.get_flowering_display }} недель</li>
        <li>Генетика: {{ strain.parents }}</li>
    </ul>

    <h4 class="mt-5 mb-3">Лучшие предложения в интернет магазинах</h4>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Производитель</th>
            <th scope="col">Пол</th>
            <th scope="col">Тип</th>
            <th scope="col">Упаковка</th>
            <th scope="col">Цена</th>
            <th scope="col">Ссылка</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Skunk</td>
            <td>Green House Seeds</td>
            <td>Регулярные</td>
            <td>Фотопериодный</td>
            <td>3 штуки</td>
            <td>990 руб.</td>
            <td><a href="#">Открыть</a></td>
        </tr>
        <tr>
            <td>Skunk</td>
            <td>Dutch Passion</td>
            <td>Феменизированные</td>
            <td>Фотопериодные</td>
            <td>3 штуки</td>
            <td>1190 руб.</td>
            <td><a href="#">Открыть</a></td>
        </tr>
        <tr>
            <td>Skunk</td>
            <td>Nirvana</td>
            <td>Феменизированные</td>
            <td>Автоцветущие</td>
            <td>5 штук</td>
            <td>1490 руб.</td>
            <td><a href="#">Открыть</a></td>
        </tr>
        </tbody>
    </table>
{% endblock content %}