{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/selectize.bootstrap4.css' %}" rel="stylesheet"
          type="text/css"/>
{% endblock css %}

{% block content %}
    <div class="h-100 d-flex justify-content-center align-items-center">
        <div class="censorship">
            <h1>Добро пожаловать на Weeedle!</h1>
            {% crispy form %}
        </div>

    </div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/selectize.min.js' %}"></script>
    <script src="{% static 'censorship/js/index.js' %}"></script>
{% endblock js %}
